extends layout

block content
  h1 Change Password
  form(method='POST', action='/users/account/password')
    #form-group
      label Current password
      input.form-control(name='currentPassword', type='password', maxlength=45)
      br
    #form-group
      label New password
      input.form-control(name='newPassword', type='password', maxlength=45)
      br
    #form-group
      label Confirm new password
      input.form-control(name='newPassword2', type='password', maxlength=45)
      br
    input.btn.btn-outline-primary(type='submit', value='Update')
