extends layout

block content
  h1 Register
  form(method='POST', action='/users/register')
    #form-group
      label First name:
      input.form-control(name='firstname', type='text', maxLength='45')
    #form-group
      label Surname:
      input.form-control(name='surname', type='text', maxLength='45')
    #form-group
      label Email:
      input.form-control(name='email', type='text', maxLength='45')
    #form-group
      label Username:
      input.form-control(name='username', type='text', maxLength='45')
    #form-group
      label Password:
      input.form-control(name='password', type='password', maxLength='20')
    #form-group
      label Confirm Password:
      input.form-control(name='password2', type='password')
    br
    input.btn.btn-primary(type='submit',value='Submit')
